
.DS_Store
Thumbs.db
Desktop.ini
.history
*~

.xcode.env.local
*.xcuserstate

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules/
dist/
build/
coverage/

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env*.local

# apps/mobile/android/
# apps/mobile/ios/

apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/app/.cxx/
apps/mobile/android/app/src/main/assets/
apps/mobile/ios/Pods/
apps/mobile/ios/build/

*.jks
*.keystore
*.p12
*.key
GoogleService-Info.plist
GoogleService-Info.json

.metro-health-check*

.turbo/

instruction.txt

.claude
CLAUDE.md