# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/


# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


.vscode/

instruction.*
CLAUDE.md
.claude
.prebuild_hash
react_native_prebuild/Frameworks/
react_native_prebuild/Package.swift
react_native_prebuild/RNPrebuild.xcworkspace/
react_native_prebuild/archives/
react_native_prebuild/node_modules/

# Xcode personal state
*.xcuserstate

# iOS export settings
ios/ExportOptions.plist
