# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Foundry
out
cache
broadcast

# Node
node_modules

# Environment
.env
.env.*

# System
.DS_Store